* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

html {
    scroll-behavior: smooth;
}


@keyframes barraExpand {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 10px;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.422), rgba(0, 0, 0, 0));
    z-index: 100;
}

header img {
    height: 50px;
}

.idioma-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: linear-gradient(135deg, #ff0b0b, #ffcc00);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 101;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 107, 107, 0.4);
    width: 100px;
}

.idioma-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 107, 107, 0.6);
}

.idioma-btn:active {
    transform: scale(0.95);
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 20%;
    margin-top: 3%;
    margin-right: 5%;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: solid 2px #ff0000;
    border-radius: 20px;
}


.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 40px #000000a5;
    background-color: #ffffff;

}

.card .front {
    font-weight: bolder;
}

.card .back {
    text-align: center;
    transform: perspective(600px) rotateY(100deg);
    background-color: #fffffffb;
    box-shadow: 0 5px 40px #000000a5;
}

.card .back h1 {
    margin-bottom: 10%;


}

.barra-fuera {
    background-color: #e6e6e6;
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 1px 10px #00000058;
    margin-bottom: 4px;
}

.barra-dentro{
    border-radius: 20px;
    width: 0;
    height: 20px;
    transition: width 450ms ease, background-color 300ms ease;
    animation: barraExpand 0.6s ease-out forwards;
}

.barra-dentro p {
    background-color: rgba(255, 255, 255, 0);
    width: 20px;
    border-radius: 10px;
    padding: 2px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}



.pokedex-foto img {
    height: 400px;
    background-color: #00000000;
    width: auto;
    margin-left: 250px;
    margin-top: 70px;

}

.Pokemon-select img {
    scale: calc(0.7);
}


.Pokemon-select {
    background-image: url(./Imagenes/intento-fondo-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    height: 500px;
    border-radius: 0 0 15% 15%;
    margin-bottom: 50px;
    position: relative;
    opacity: 1;
   
}






body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;

}

.cintillo img {
    height: 50px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    margin-bottom: -20px;
}

.cintillo {
    color: #e6e6e600;
    width: 100%;
    background-color: #ffffff00;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
    overflow: visible;
    position: relative;
}

main {
    
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 900px;
    max-width: 900px;
    min-height: 100vh;
     

}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(30%); 
    filter: blur(3px);
    opacity: 0.6;
}

.contenido {
    position: relative;
    z-index: 1; 
    color: rgb(255, 255, 255); 
}


.Pokemon-slot img {
    height: 200px;
    margin-top: 20px;

}


.Pokemon-slot {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(6, 120, 0)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.Pokemon-tipos {
    display: flex;
    text-align: center;


}

.Pokemon-datos {
    display: flex;
    text-align: center;


}

.Datos-P {
    display: flex;
    text-align: center;
    margin-top: -15px;
    gap: 5px;
}



.tipo1 {
    background-color: rgb(55, 167, 92);
    margin-right: 15px;
    margin-left: 5px;
}

.tipo2 {
    background-color: blueviolet;
}

.Pokemon-slot div {
    padding: 5px;
}

.Pokemon-slot h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot h2 {
    font-size: 30px;
    margin-bottom: 10px;
}



.Datos-todo {
    margin-left: 20px;
    text-align: center;

}

.tipo1 img {
    border-radius: 50%;
}

.foto {
    height: 900px;
}


.Pokemon-slot-fuego {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 30, 0, 0.864)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-fuego {
    display: flex;

}


.Pokemon-slot-fuego div {
    padding: 5px;
}

.Pokemon-slot-fuego h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-fuego h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-fuego h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-fuego img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-fuego .tipo1 {
    background-color: rgba(255, 1, 1, 0.622);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-fuego .tipo2 {
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}

.charizard {
    height: 200px;
    width: 300px;
    margin-left: 40px;
}


.Pokemon-slot-agua {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 123, 255, 0.864)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;
}


.Pokemon-slot-agua div {
    padding: 5px;
}

.Pokemon-slot-agua h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-agua h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-agua h2 {
    font-size: 30px;
    margin-bottom: 10px;
}



.Pokemon-slot-agua .tipo1 {
    background-color: rgba(97, 115, 255, 0.622);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-agua .tipo2 {
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}

.Squirtle {
    width: 150px;
    margin: auto;
    margin-bottom: 15px;
}


.Pokemon-slot-agua h2 {
    margin-top: -20px;
}


.Pokemon-slot-bicho {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(73, 136, 0)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-bicho {
    display: flex;

}


.Pokemon-slot-bicho div {
    padding: 5px;
}

.Pokemon-slot-bicho h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-bicho h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-bicho h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-bicho img {
    height: 200px;
    margin-top: 20px;
}
.Pokemon-slot-bicho .tipo1 {
    background-color: rgba(121, 164, 73);
    margin-right: 15px;
    margin-left: 5px;
    
}


.Pokemon-slot-bicho .tipo2 {
    background-color: rgb(255, 0, 187);
    margin-right: 15px;
    margin-left: 5px;
}



.Psiquico {
    border-radius: 50%;
}


.Pokemon-slot-weedle {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(232, 226, 57, 0.881)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-weedle {
    display: flex;

}


.Pokemon-slot-weedle div {
    padding: 5px;
}

.Pokemon-slot-weedle h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-weedle h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-weedle h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-weedle img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-weedle .tipo1 {
    background-color: rgba(121, 164, 73);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-weedle .tipo2 {
    background-color: rgb(168, 76, 214);
    margin-right: 15px;
    margin-left: 5px;
}


.Pokemon-slot-ratatta {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(172, 172, 172)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}



.Pokemon-slot-ratatta div {
    padding: 5px;
}

.Pokemon-slot-ratatta h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-ratatta h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-ratatta h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-ratatta img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-ratatta .tipo1 {
    background-color: rgb(161, 163, 160);
    margin-right: 15px;
    margin-left: 5px;

}



.Pokemon-slot-veneno {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(91, 38, 117)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-veneno {
    display: flex;

}


.Pokemon-slot-veneno div {
    padding: 5px;
}

.Pokemon-slot-veneno h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-veneno h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-veneno h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-veneno img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-veneno .tipo1 {
    background-color: rgb(168, 76, 214);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-veneno .tipo2 {
    background-color: rgb(231, 114, 53);
    margin-right: 15px;
    margin-left: 5px;
}


.Pokemon-slot-normal-volador {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(181, 250, 255)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-normal-volador {
    display: flex;

}


.Pokemon-slot-normal-volador div {
    padding: 5px;
}

.Pokemon-slot-normal-volador h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-normal-volador h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-normal-volador h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-normal-volador img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-normal-volador .tipo1 {
    background-color: rgba(161, 163, 160);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-normal-volador .tipo2 {
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}



.Pokemon-slot-clefairy {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(255, 119, 212, 0.402), rgb(240, 172, 255)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-clefairy {
    display: flex;

}


.Pokemon-slot-clefairy div {
    padding: 5px;
}

.Pokemon-slot-clefairy h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-clefairy h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-clefairy h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-clefairy img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-clefairy .tipo1 {
    background-color: rgb(223, 79, 255);
    margin-right: 15px;
    margin-left: 5px;
}

.Pokemon-slot-clefairy .tipo2 {
    background-color: rgba(161, 163, 160);
    margin-right: 15px;
    margin-left: 5px;
}

.Pokemon-slot-clefairy .tipo2 img {
    border-radius: 50%;
}

.wigglytuff {
    transform: scale(0.8);
    transform-origin: center;
    width: 180px;
    height: 150px;
    margin: auto;
}

.clefairy {
    transform: scale(0.6);

}

.anterior {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    background-image:
        radial-gradient(white 20%, white 20%, black 20%, black 30%, transparent 30%, transparent),
        linear-gradient(red 46%, black 46%, black 54%, white 54%);
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s;
    left: 20px;
    top: 50%;

}

.siguiente {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    background-image:
        radial-gradient(white 20%, white 20%, black 20%, black 30%, transparent 30%, transparent),
        linear-gradient(red 46%, black 46%, black 54%, white 54%);
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s;
    transform: translateY(-50%);
    left: 93%;
    top: 50%;
    margin: 30px;
}

.Pokemon-slot-electrico {

    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.265), rgba(240, 233, 13, 0.881)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-electrico {
    display: flex;

}


.Pokemon-slot-electrico div {
    padding: 5px;
}

.Pokemon-slot-electrico h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-electrico h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-electrico h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-electrico img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-electrico .tipo1 {
    background-color: rgba(255, 255, 29, 0.822);
    margin-right: 16px;
    margin-left: 5px;

}

.Pokemon-slot-Tierra {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(231, 114, 53)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-Tierra {
    display: flex;

}


.Pokemon-slot-Tierra div {
    padding: 5px;
}

.Pokemon-slot-Tierra h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-Tierra h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-Tierra h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-Tierra img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-Tierra .tipo1 {
    background-color: rgba(231, 114, 53);
    margin-right: 16px;
    margin-left: 5px;

}

.Pokemon-slot-vulpix {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.181), rgba(255, 85, 0, 0.864)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-vulpix {
    display: flex;

}


.Pokemon-slot-vulpix div {
    padding: 5px;
}

.Pokemon-slot-vulpix h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-vulpix h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-vulpix h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-vulpix img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-vulpix .tipo1 {
    background-color: rgba(255, 1, 1, 0.622);
    margin-right: 15px;
    margin-left: 5px;

}


.Pokemon-slot-zubat {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(91, 38, 117)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-zubat {
    display: flex;

}


.Pokemon-slot-zubat div {
    padding: 5px;
}

.Pokemon-slot-zubat h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-zubat h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-zubat h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-zubat img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-zubat .tipo1 {
    background-color: rgba(168, 76, 214);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-zubat .tipo2 {
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}

.Zubat {

    transform: scale(0.6);
    margin: auto;
}


.Pokemon-slot-paras {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(232, 226, 57, 0.881)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-paras {
    display: flex;

}


.Pokemon-slot-paras div {
    padding: 5px;
}

.Pokemon-slot-paras h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-paras h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-paras h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-paras img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-paras .tipo1 {
    background-color: rgba(121, 164, 73);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-paras .tipo2 {
    background-color: rgb(55, 167, 92);
    margin-right: 15px;
    margin-left: 5px;
}

.Pokemon-slot-venonat {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(91, 38, 117)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-venonat {
    display: flex;

}


.Pokemon-slot-venonat div {
    padding: 5px;
}

.Pokemon-slot-venonat h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-venonat h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-venonat h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-venonat img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-venonat .tipo1 {
    background-color: rgb(121, 164, 73);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-venonat .tipo2 {
    background-color: rgb(168, 76, 214);
    margin-right: 15px;
    margin-left: 5px;
}

.Pokemon-slot-oddish {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(6, 120, 0)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-oddish {
    display: flex;

}


.Pokemon-slot-oddish div {
    padding: 5px;
}

.Pokemon-slot-oddish h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-oddish h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-oddish h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-oddish img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-oddish .tipo1 {
    background-color: rgb(55, 167, 92);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-oddish .tipo2 {
    background-color: rgb(168, 76, 214);
    margin-right: 15px;
    margin-left: 5px;
}


.Pokemon-slot-meowth {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(172, 172, 172)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-meowth div {
    padding: 5px;
}

.Pokemon-slot-meowth h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-meowth h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-meowth h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-meowth img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-meowth .tipo1 {
    background-color: rgb(161, 163, 160);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-mankey {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(224, 33, 97)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-mankey div {
    padding: 5px;
}

.Pokemon-slot-mankey h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-mankey h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-mankey h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-mankey img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-mankey .tipo1 {
    background-color: rgb(224, 33, 97);
    margin-right: 15px;
    margin-left: 5px;

}

.machop{
    margin: auto;
}

.Pokemon-slot-poliwag{
 display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(0, 123, 255, 0.864)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-poliwag div {
    padding: 5px;
}

.Pokemon-slot-poliwag h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-poliwag h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-poliwag h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-poliwag img {
    height: 200px;
    margin-top: 20px;
}


.Pokemon-slot-poliwag .tipo1{
    background-color: rgb(97, 115, 255);
    margin-right: 15px;
    margin-left: 5px;

}



.Pokemon-slot-poliwag .tipo2 {
    background-color: rgb(224, 33, 97);
    margin-right: 15px;
    margin-left: 5px;
}

.Pokemon-slot-psiquico{
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(255, 110, 127)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-psiquico {
    display: flex;

}


.Pokemon-slot-psiquico div {
    padding: 5px;
}

.Pokemon-slot-psiquico h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-psiquico h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-psiquico h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-psiquico img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-psiquico .tipo1 {
    background-color: rgb(255, 110, 127);
    margin-right: 15px;
    margin-left: 5px;
}


.Pokemon-slot-tentacool {
 display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;

    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(0, 123, 255, 0.864)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-tentacool div {
    padding: 5px;
}

.Pokemon-slot-tentacool h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-tentacool h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-tentacool h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-tentacool img {
    height: 200px;
    margin-top: 20px;
}


.Pokemon-slot-tentacool .tipo1{
    background-color: rgb(97, 115, 255);
    margin-right: 15px;
    margin-left: 5px;

}



.Pokemon-slot-tentacool .tipo2 {
    background-color: rgb(168, 76, 214);
    margin-right: 15px;
    margin-left: 5px;
}



.Pokemon-slot-geodude {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(167,158, 124)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-geodude {
    display: flex;

}


.Pokemon-slot-geodude div {
    padding: 5px;
}

.Pokemon-slot-geodude h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-geodude h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-geodude h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-geodude img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-geodude .tipo1 {
    background-color: rgba(167,158, 124);
    margin-right: 16px;
    margin-left: 5px;

}

.Pokemon-slot-geodude .tipo2 {
    background-color: rgba(231, 114, 53);
    margin-right: 16px;
    margin-left: 5px;

}

.Pokemon-slot-slowpoke{
  display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(97, 115, 255)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-slowpoke {
    display: flex;

}


.Pokemon-slot-slowpoke div {
    padding: 5px;
}

.Pokemon-slot-slowpoke h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-slowpoke h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-slowpoke h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-slowpoke img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-slowpoke .tipo1 {
    background-color: rgb(97, 115, 255);
    margin-right: 15px;
    margin-left: 5px;
}

.Pokemon-slot-slowpoke .tipo2 {
    background-color: rgb(255, 110, 127);
    margin-right: 15px;
    margin-left: 5px;
}


/* Chambea kevin */
.Pokemon-slot:hover {
    background-color: rgb(162, 255, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-fuego:hover {
    background-color: rgb(255, 77, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-agua:hover {
    background-color: rgb(16, 113, 115);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-bicho:hover {
    background-color: rgb(143, 49, 113);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-weedle:hover {
    background-color: rgb(79, 4, 55);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-ratatta:hover {
    background-color: rgb(209, 151, 43);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-electrico:hover {
    background-color: rgba(255, 251, 0, 0.685);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-Tierra:hover {
    background-color: rgb(111, 109, 2);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-normal-volador:hover {
    background-color: rgb(111, 109, 2);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-normal:hover {
    background-color: rgb(145, 147, 144);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-veneno:hover {
    background-color: rgba(189, 0, 227, 0.671);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-clefairy:hover {
    background-color: rgb(144, 0, 166);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-vulpix:hover {
    background-color: rgb(129, 19, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-zubat:hover {
    background-color: rgba(83, 149, 250, 0.699);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-paras:hover {
    background-color: rgb(97, 153, 1);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-venonat:hover {
    background-color: rgb(83, 155, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}


.Pokemon-slot-oddish:hover {
    background-color: rgba(182, 65, 208, 0.952);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-meowth:hover {
    background-color: rgb(253, 226, 138);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-mankey:hover {
    background-color: rgb(129, 19, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-poliwag:hover {
    background-color: rgb(129, 19, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-psiquico:hover{
   background-color: rgb(106, 1, 78);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-tentacool:hover{
    background-color: rgb(189, 0, 227, 0.671);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-geodude:hover{
        background-color: rgb(241, 96, 19);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-slowpoke:hover{
   background-color: rgb(106, 1, 78);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}


footer {
    color: whitesmoke;
    margin-top: 5%;
    height: 440px;
    width: 100%;
    display: flex;
    background-image: url(./redes/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: solid 1px honeydew;
}

.medio img {
    height: 30px;
    width: 60px;
}

.medio {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: solid 1px honeydew;
    border-radius: 30px;
    height: 270px;
    margin-top: 3%;
    box-shadow: 0 0px 10px #e6e6e6;
}

.medio h2 {
    margin-bottom: 10px;
    padding: 20px;

}

.izquierda {
    margin-top: 3%;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 30%;
    margin-left: 170px;
    border-radius: 30px;
    border: solid 1px honeydew;
    box-shadow: 0 0px 10px #e6e6e6;
}



.izquierda h1 {

    margin-bottom: 20px;
    padding: 20px;
}


.red {
    display: flex;
    margin-bottom: 20px;
}

.red1 {
    display: flex;
    margin-bottom: 20px;
}

.red img {
    margin-top: -5px;
}

.red1 img {
    margin-top: -5px;
}

.red3 {
    margin-top: 20px;
    display: flex;
    margin-left: 10px;
}

.red3 img {
    height: 30px;
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -5px;
    margin-left: 5px;
}

.red3 a {
    text-decoration: none;
    color: whitesmoke;
}

.red a {
    text-decoration: none;
    color: whitesmoke;
}

.red1 a {
    text-decoration: none;
    color: whitesmoke;
}


.tipo-item:hover::after {
    content: attr(data-tipo);
    position: absolute;
    bottom: -25px;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    white-space: nowrap;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    left: 37%;
    border-radius: 5px;
    z-index: 10;
    animation: slideUp 0.3s ease-out;
}


.cintillo img:hover {
    cursor: pointer;
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}

.red3 img:hover{
     cursor: pointer;
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}
.red1 img:hover{
     cursor: pointer;
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}
.red img:hover{
     cursor: pointer;
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}

.tipo-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tipo-item img {
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.tipo-item:hover img {
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}


@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0px);
    }
}

.siguiente:hover {
    transform: translateY(-50%) rotate(90deg) scale(1.2);
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}

.anterior:hover {
    transform: rotate(-90deg) scale(1.2);
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}