* {
    margin: 0;
    padding: 0;

}

header {
    background-color: rgba(228, 228, 228, 0);
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 10px;
}


.Pokemon-select {
    width: 100%;
    display: flex;
    background-color: rgba(133, 196, 16, 0.863);
    height: 600px;
    border-radius: 0 0 15% 15%;
}

body {
    display: flex;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
}


main {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 900px;
}


.Pokemon-slot img {
    height: 200px;
margin-top: 20px;
}


.Pokemon-slot {
    display: flex;
    background: linear-gradient(rgba(0, 0, 255, 0), rgb(29, 173, 0));
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 400px;
    
}

.Pokemon-tipos {
    display: flex;
    text-align: center;
    
   
}

.Pokemon-datos {
    display: flex;
    text-align: center;
    

}

.Datos-P {
    display: flex;
text-align: center;
margin-top: -20px;
}



.tipo1{
    background-color: rgb(0, 255, 13);
    margin-right: 15px;
    margin-left: 5px;
}

.tipo2{
    background-color: blueviolet;
}

.Pokemon-slot div{
    padding: 5px;
}

.Pokemon-slot h3{
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot h3 img{
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot h2{
    font-size: 30px;
    margin-bottom: 10px;
}



.Datos-todo{
margin-left: 20px;
text-align: center;

}

.tipo1 img{
    border-radius: 50%;
}

.foto{
    height: 900px;
}