* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


@keyframes barraExpand {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}



header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 10px;
    position: fixed;
}

header img {
    height: 50px;
}

.Pokedex-info {
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
    padding: 50px;
    display: flex;


}


.Pokedex-texto {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    max-width: 300px;
    background-image: url(./Imagenes/fondo-texto-d3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center;

}

.Pokedex-texto h1 {
    margin-top: 120px;
    font-size: 20px;
}

.Pokedex-texto h3 {
    font-size: 16px;
}

.pokedex-cat h3 {
    margin: 5px;

}


.pokedex-cat {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: solid 1px #ff0000;
    border-radius: 20px;
    margin-left: 50px;
}



.pokedex-foto img {
    height: 400px;
    background-color: #00000000;
    width: auto;
    margin-left: 250px;
    margin-top: 70px;
}

.Pokemon-select {
    background-image: url(./Imagenes/intento-fondo-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    background-color: rgb(239, 255, 239);
    height: 500px;
    border-radius: 0 0 15% 15%;
    margin-bottom: 50px;

}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;

}

.cintillo img {
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.cintillo {
    width: 100%;
    background-color: #ffffff00;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
    overflow: visible;
    position: relative;
}

main {
    background-color: rgba(255, 18, 18, 0);
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 900px;
    max-width: 900px;
    min-height: 100vh;

}


.Pokemon-slot img {
    height: 200px;
    margin-top: 20px;

}


.Pokemon-slot {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(6, 120, 0)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.Pokemon-tipos {
    display: flex;
    text-align: center;


}

.Pokemon-datos {
    display: flex;
    text-align: center;


}

.Datos-P {
    display: flex;
    text-align: center;
    margin-top: -15px;
    gap: 5px;
}



.tipo1 {
    background-color: rgb(0, 255, 13);
    margin-right: 15px;
    margin-left: 5px;
}

.tipo2 {
    background-color: blueviolet;
}

.Pokemon-slot div {
    padding: 5px;
}

.Pokemon-slot h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot h2 {
    font-size: 30px;
    margin-bottom: 10px;
}



.Datos-todo {
    margin-left: 20px;
    text-align: center;

}

.tipo1 img {
    border-radius: 50%;
}

.foto {
    height: 900px;
}


.Pokemon-slot-fuego {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 30, 0, 0.864)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-fuego {
    display: flex;

}


.Pokemon-slot-fuego div {
    padding: 5px;
}

.Pokemon-slot-fuego h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-fuego h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-fuego h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-fuego img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-fuego .tipo1 {
    background-color: rgba(255, 1, 1, 0.622);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-fuego .tipo2 {
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}

.charizard {
    height: 200px;
    width: 300px;
    margin-left: 40px;
}




.Pokemon-slot-agua {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 123, 255, 0.864)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;
}


.Pokemon-slot-agua div {
    padding: 5px;
}

.Pokemon-slot-agua h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-agua h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-agua h2 {
    font-size: 30px;
    margin-bottom: 10px;
}



.Pokemon-slot-agua .tipo1 {
    background-color: rgba(97, 115, 255, 0.622);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-agua .tipo2 {
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}

.Squirtle {
    width: 150px;
    margin: auto;
    margin-bottom: 15px;
}


.Pokemon-slot-agua h2 {
    margin-top: -20px;
}

.Pokemon-slot-bicho {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(73, 136, 0)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-bicho {
    display: flex;

}


.Pokemon-slot-bicho div {
    padding: 5px;
}

.Pokemon-slot-bicho h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-bicho h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-bicho h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-bicho img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-bicho .tipo1 {
    background-color: rgba(121, 164, 73);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-bicho .tipo2 {
    background-color: rgb(255, 0, 187);
    margin-right: 15px;
    margin-left: 5px;
}



.Psiquico {
    border-radius: 50%;
}







.barra-fuera {
    background-color: #e6e6e6;
    width: 100%;
    padding: 2px;
    border-radius: 10px;
}

.barra-dentro p {
    background-color: rgb(255, 210, 63);
    width: 20px;
    border-radius: 10px;
    padding: 2px;
    

}

.barra-dentro {

    width: 300px;
}

.Pokemon-slot-weedle {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(232, 226, 57, 0.881)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-weedle {
    display: flex;

}


.Pokemon-slot-weedle div {
    padding: 5px;
}

.Pokemon-slot-weedle h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-weedle h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-weedle h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-weedle img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-weedle .tipo1 {
    background-color: rgba(121, 164, 73);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-weedle .tipo2 {
    background-color: blueviolet;
    margin-right: 15px;
    margin-left: 5px;
}


.Pokemon-slot-ratatta {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
   
    background-repeat: no-repeat;
     background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(172, 172, 172)), url(./Imagenes/pokeball-blanca.png);
 background-repeat:no-repeat;
    width: 255px;
    transition: all 0.3s;

}



.Pokemon-slot-ratatta div {
    padding: 5px;
}

.Pokemon-slot-ratatta h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-ratatta h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-ratatta h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-ratatta img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-ratatta .tipo1{
    background-color: rgb(161, 163, 160);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-ratatta .tipo2{
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}


.Pokemon-slot-veneno{
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
     background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(91, 38, 117)), url(./Imagenes/pokeball-blanca.png);
    background-repeat:no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-veneno {
    display: flex;

}


.Pokemon-slot-veneno div{
    padding: 5px;
}

.Pokemon-slot-veneno h3{
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-veneno h3 img{
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-veneno h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-veneno img {
    height: 200px;
margin-top: 20px;
}

.Pokemon-slot-veneno .tipo1{
    background-color: rgb(168, 76, 214);
    margin-right: 15px;
    margin-left: 5px;
   
}

.Pokemon-slot-veneno .tipo2{
    background-color: rgb(231, 114, 53);
    margin-right: 15px;
    margin-left: 5px;
}


.Pokemon-slot-normal-volador {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
   
    background-repeat: no-repeat;
     background: linear-gradient(rgba(0, 0, 255, 0.3), rgb(181, 250, 255)), url(./Imagenes/pokeball-blanca.png);
 background-repeat:no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-normal-volador {
    display: flex;

}


.Pokemon-slot-normal-volador div {
    padding: 5px;
}

.Pokemon-slot-normal-volador h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-normal-volador h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-normal-volador h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-normal-volador img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-normal-volador .tipo1{
    background-color: rgba(161, 163, 160);
    margin-right: 15px;
    margin-left: 5px;

}

.Pokemon-slot-normal-volador .tipo2{
    background-color: rgb(67, 155, 255);
    margin-right: 15px;
    margin-left: 5px;
}


















.anterior {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    background-image:
        radial-gradient(white 20%, white 20%, black 20%, black 30%, transparent 30%, transparent),
        linear-gradient(red 46%, black 46%, black 54%, white 54%);
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s;
    left: 20px;
    top: 50%;
    margin: 30px;
}


.siguiente {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    background-image:
        radial-gradient(white 20%, white 20%, black 20%, black 30%, transparent 30%, transparent),
        linear-gradient(red 46%, black 46%, black 54%, white 54%);
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s;
    transform: translateY(-50%);
    left: 93%;
    top: 50%;
    margin: 30px;
}

.Pokemon-slot-electrico{

        display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(240, 233, 13, 0.881)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-electrico {
    display: flex;

}


.Pokemon-slot-electrico div {
    padding: 5px;
}

.Pokemon-slot-electrico h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-electrico h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-electrico h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-electrico img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-electrico .tipo1 {
    background-color: rgba(255, 255, 29, 0.822);
    margin-right: 16px;
    margin-left: 5px;

}

.Pokemon-slot-Tierra{
        display: flex;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 380px;
    border: solid 1px #ffffff;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(231, 114, 53)), url(./Imagenes/pokeball-blanca.png);
    background-repeat: no-repeat;
    width: 255px;
    transition: all 0.3s;

}

.Pokemon-slot-Tierra{
    display: flex;

}


.Pokemon-slot-Tierra div {
    padding: 5px;
}

.Pokemon-slot-Tierra h3 {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    display: flex;
}

.Pokemon-slot-Tierra h3 img {
    height: 25px;
    margin-top: 0;
}


.Pokemon-slot-Tierra h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.Pokemon-slot-Tierra img {
    height: 200px;
    margin-top: 20px;
}

.Pokemon-slot-Tierra .tipo1 {
    background-color: rgba(231, 114, 53);
    margin-right: 16px;
    margin-left: 5px;

}






/* Chambea kevin */
.Pokemon-slot:hover {
    background-color: rgb(162, 255, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-fuego:hover {
    background-color: rgb(255, 77, 0);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-agua:hover {
    background-color: rgb(16, 113, 115);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-bicho:hover {
    background-color: rgb(143, 49, 113);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-weedle:hover {
    background-color: rgb(79, 4, 55);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.Pokemon-slot-ratatta:hover {
    background-color: rgb(209, 151, 43);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-electrico:hover{
    background-color: rgba(255, 251, 0, 0.685);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-Tierra:hover{
    background-color: rgb(111, 109, 2);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.Pokemon-slot-normal-volador:hover{
    background-color: rgb(111, 109, 2);
    cursor: pointer;
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.Pokemon-slot-normal:hover{
    background-color: rgb(145, 147, 144);
    cursor: pointer;
    transform: translate3d(0px,0px,0px) scale3d(0.9,0.9,1)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);
    transform-style: preserve-3d;
}

.Pokemon-slot-veneno:hover{
    background-color: rgba(189, 0, 227, 0.671);
    cursor: pointer;
    transform: translate3d(0px,0px,0px) scale3d(0.9,0.9,1)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);
    transform-style: preserve-3d;
}




.tipo-item:hover::after {
    content: attr(data-tipo);
    position: absolute;
    bottom: -25px;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    white-space: nowrap;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    left: 37%;
    border-radius: 5px;
    z-index: 10;
    animation: slideUp 0.3s ease-out;
}


.cintillo img:hover {
    cursor: pointer;
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}



.tipo-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tipo-item img {
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.tipo-item:hover img {
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}


@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0px);
    }}
    
.siguiente:hover {
    transform: translateY(-50%) rotate(90deg) scale(1.2);
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}

.anterior:hover {
    transform:  rotate(-90deg) scale(1.2);
     filter: brightness(1.5) drop-shadow(0 0 10px rgb(255, 255, 255));
}